.profile_container label {
    color: #ABEBE6;
}

.profile_container input[type=text] {
    border-bottom: 1px solid #7FE6D4;
    height: 2.0rem;
}

.profile_container .row {
    margin-bottom: 0px;
}