<div id="basicProfile">
    <form #profileForm="ngForm">
        <div class="row">
            <div class="input-field col s12">
                <input class="capitalizeText" placeholder="Name" #name type="text" [ngModel]="profile.Name" [ngModelOptions]="{standalone: true}">
                <label for="name">Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="City" #city type="text" [ngModel]="profile.City" [ngModelOptions]="{standalone: true}">
                <label for="city">City</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea mkbAutoGrow placeholder="Occupation" class="materialize-textarea" #occupation type="text" [ngModel]="profile.Occupation"
                    [ngModelOptions]="{standalone: true}"></textarea>
                <label for="occupation">Occupation</label>
            </div>
        </div>
    </form>
</div>