<div class='profile_container'>
    <div class="row">
        <div class="input-field col s12">
            <label class="active">Name</label>
            <input #name class="validate" type="text" [ngModel]="profile.Name">
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <label class="active">City</label>
            <input #city class="validate" type="text" [ngModel]="profile.City">
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <label class="active">Occupation</label>
            <textarea rows="0" id="occupation_textarea" class="materialize-textarea" [ngModel]="profile.Occupation"></textarea>
        </div>
    </div>
</div>