.experience_container{
  list-style: none;
  padding: 0% 10%;
  width: auto;
}

.experience_container div ul {
   margin:0;
}

.experience_row
{
   margin-top:1%;
   margin-bottom: 15%;    
}

.experience_row input[type=text]:disabled+label
{
    color:#ABEBE6;
}

.experience_row textarea.materialize-textarea
{
    color: rgb(36, 60, 97);
    border-bottom: 1px solid #7FE6D4;
    padding: 0.15em 0;
    margin: 3% 0 0 0;
    height: 1rem;
    min-height: 1rem;
    width: 100%;
}

.experience_row input[mkbTextWeight=large]
{
     font-size: 1.4em; 
}

.experience_row input[mkbTextWeight=small]
{
     font-size: inherit;
}

.experience_row .input-field {
    margin-top: 6%;
}

.experience_row .input-field label
{
    font-size: 0.85rem; 
    color:#ABEBE6;
}

.experience_row label1[mkbTextWeight=large]
{
     font-size: 1.2em; 
}

.experience_row label2[mkbTextWeight=small]
{
    font-size: 0.8em; 
}

.experience_row input[type=text]:disabled
{
    color: rgb(36, 60, 97);
    border-bottom: 1px solid #7FE6D4;
}

.experience_row input[type=text]
{
    margin: 0 0 2% 0;
    height: 2.0em;
}

.experience_row  .row {
    margin-bottom: 0;
    line-height: normal;
    font-size: 0.9rem;
}
