.experience_container {
    list-style: none;
    padding-right: 15%;
    width: auto;
}

.experience_container div ul {
    margin: 0;
}

.experience_row {
    margin-bottom: 15%;
}

.experience_row input[type=text]:disabled+label {
    color: #ABEBE6;
}

.experience_row textarea.materialize-textarea {
    color: rgb(36, 60, 97);
    border-bottom: 1px solid #7FE6D4;
    padding: 0 0 2px 0;
    margin: 6px 0 0 0;
    height: 1rem;
    min-height: 1rem;
    width: 100%;
    font-size: inherit;
}

.experience_row input[mkbTextWeight=large] {
    font-size: 1.4em;
}

.experience_row input[mkbTextWeight=small] {
    font-size: 1em;
}

.experience_row .input-field {
    margin-top: 15px;
}

.experience_row .input-field label {
    font-size: 0.85rem;
    color: #ABEBE6;
}

.experience_row label[mkbTextWeight=large] {
    font-size: 1.2em;
}

.experience_row label[mkbTextWeight=small] {
    font-size: 0.8em;
}

.experience_row input[type=text]:disabled {
    color: rgb(36, 60, 97);
    border-bottom: 1px solid #7FE6D4;
}

.experience_row input[type=text] {
    margin: 0;
    height: 1.8em;
}

.experience_row .row {
    margin-bottom: 0;
    line-height: normal;
    font-size: 0.9rem;
}

.experience_row textarea[mkbTextWeight=large] {
    font-size: 1.4em;
}

@media only screen and (max-width :600px) {
    .experience_container {
        padding-right: 0px;
    }
}