.wrapper,
.wrapper .m6,
.wrapper .valign-wrapper {
  height: 100%;
  margin-bottom: 0;
}

.titleContainer {
  color: #FFFFFF;
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(#3A5E87, #2C4A71);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(#3A5E87, #2C4A71);
  /* For Firefox 3.6 to 15 */
  background: -moz-linear-gradient(#3A5E87, #2C4A71);
  /* Standard syntax (must be last) */
  background: linear-gradient(#3A5E87, #2C4A71);
}

.infoContent {
  font-size: 1.15em;
}

.loginContainer .center-align {
  min-height: 150px;
}

.loginContainer h5 {
  margin-bottom: 0;
}

.infoContent {
  padding-left: calc(50% - 75px);
}
@media only screen and (max-width :600px) {
  .loginContainer {
    height: 50%;
  }

  .loginContainer > .valign-wrapper {
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }

  .loginContainer .center-align {
    min-height: 120px;
  }
}
