<div class="row wrapper">
    <div class="col s12 m6 titleContainer slateBlueBackground">
        <div class="valign-wrapper">
            <div class="col s12">
                <h1 class="center-align">MU</h1>
                <h6 class="center-align hide-on-med-and-up">
                    Be Marketable
                </h6>
                <ul class="infoContent hide-on-small-only">
                    <li> know your Marketability</li>
                    <li> Manage</li>
                    <li> Improve</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col s12 m6 loginContainer">
        <div class="valign-wrapper">
            <div class="center-align col s12">
                <h5>Login or Signup</h5>
                <div id="auth-provider" class="auth-providers"></div>
            </div>
        </div>
    </div>
</div>