<div class="wrapper row">
    <div class="title-container col m6 s12">
        <div class="title-wrapper valign-wrapper">
            <div class="content-container">
                <div class="title center-align">
                    MU
                </div>
                <div class="info">
                    <div class="info-content"> know your Marketability</div>
                    <div class="info-content"> Manage</div>
                    <div class="info-content"> Improve</div>
                </div>
            </div>
        </div>
    </div>

    <div class="login-container col m6 s12">
        <div class="login-wrapper valign-wrapper">
            <div class="content-container center-align">
                <div class="login-title">Login or Signup</div>
                <div id="auth-provider" class="auth-providers"></div>
            </div>
        </div>
    </div>
</div>