.wrapper,
.wrapper .m6,
.wrapper .valign-wrapper {
  height: 100%;
  margin-bottom: 0;
}

.titleContainer {
  color: #FFFFFF;
}

.infoContent {
  font-size: 1.15em;
  padding-left: calc(50% - 75px);
}

.loginContainer {
  padding: 5% 0;
}

.loginContainer .center-align {
  min-height: 150px;
}

.loginContainer h5 {
  margin-bottom: 0;
}
@media only screen and (max-width :600px) {
  .loginContainer,
  .titleContainer {
    height: 50% !important;
  }

  .loginContainer > .valign-wrapper {
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }

  .loginContainer .center-align {
    min-height: 120px;
  }
}
