/*.imgHolder {
    position: relative;
}

.imgHolder span {
    position: absolute;
    right: 10px;
    top: 10px;
}*/

.score_container {
  width : auto;
  height : auto;
  text-align: center;
  position: relative;
}

.score_span {
    text-align: center;
    position: absolute;
    top: 22%;
    right: 40%;
    color: #1b3c64;
    font-size: 4.5em;
    font-family: 'Calibri', sans-serif;
    font-weight: 600;
}
