<div class="navbar-fixed hide-on-med-and-up">
    <nav class="slateBlueBackground">
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="left">
                <li>Title</li>
                <li><a class="logout-button" (click)="authService.logout()"><i class="medium material-icons">input</i></a> </li>
            </ul>
        </div>
    </nav>
</div>

<div class="mainContainer">
    <div class="container inheritHeight">
        <div id="profileManger" class="inheritHeight">
            <div class="valign-wrapper inheritHeight">
                <div id="profileMangerContent">
                    <h4 class="hide-on-small-only">{{pageTitle}}</h4>
                    <div id="contentContainer" *ngIf="personProfile.Profile">
                        <mkb-basic-profile [profile]="personProfile.Profile" *ngIf="currentPage === 0"></mkb-basic-profile>
                        <mkb-skills [Skills]="personProfile.Skills" *ngIf="currentPage === 1" (afterViewInit)="onChildComponentViewInit($event)"></mkb-skills>
                        <mkb-experience [Experience]="personProfile.Experience" *ngIf="currentPage === 2" (afterViewInit)="onChildComponentViewInit($event)"></mkb-experience>
                    </div>
                    <div class="buttonContainer pad-right-10-med-and-up">
                        <button class="waves-effect waves-light btn next-button" (click)="onNextClicked()">Next</button>
                        <div class="progress-container col s12 center-align">
                            <div class="progress">
                                <div class="determinate" id="progressPercent" style="width : 25% "></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ul id="slide-out" class="side-nav fixed hide-on-small-only slateBlueBackground">
    <li class="center-align">
        <a class="logout-button" (click)="authService.logout()"><i class="medium material-icons">input</i></a>
    </li>
</ul>