@media only screen and (min-width: 601px) {
  .mainContainer {
    padding-left: 124px;
  }
}
@media only screen and (max-width: 992px) {
  .side-nav.fixed {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.mainContainer {
  height: 100%;
}

.side-nav {
  color: #fff;
  width: 124px;
  padding-top: 2em;
}

.side-nav > li {
  width: 60px;
  margin: 0 auto;
}

.side-nav > li > a,
.side-nav > li > a > .material-icons {
  color: #FFFFFF;
  padding: 0;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 425px;
  padding: 0 25px;
}

#contentContainer {
  height: 450px;
}

#profileMangerContent {
  width: 100%;
}

.buttonContainer button {
  height: 48px;
  width: 240px;
  display: block;
  margin: 0 auto;
}
@media only screen and (max-height: 600px) {
  #profileMangerContent {
    height: inherit;
  }
}
@media only screen and (max-width: 600px) {
  .mainContainer {
    height: calc(100% - 62px);
  }

  .container {
    height: 100%;
  }

  #profileManger > .valign-wrapper {
    align-items: baseline;
    padding-top: 15%;
  }

  #contentContainer {
    min-height: 360px;
    height: auto;
  }

  .progress {
    position: fixed;
    top: 56px;
    left: 0;
    margin: 0;
    height: 6px;
  }

}
