/* You can add global styles to this file, and also import other style files */

body,
html {
  height: 100%;
}

.auth0-lock-header {
  display: none !important;
}

.slateBlueBackground {
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(rgb(71, 111, 154), rgb(34,60,97));
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(rgb(71, 111, 154), rgb(34,60,97));
  /* For Firefox 3.6 to 15 */
  background: -moz-linear-gradient(rgb(71, 111, 154), rgb(34,60,97));
  /* Standard syntax (must be last) */
  background: linear-gradient(rgb(71, 111, 154), rgb(34,60,97));
}

.inheritHeight {
  height: inherit;
}

input[type=text] {
  height: 2rem !important;
}

textarea {
  padding: .2rem 0 0 !important;
  min-height: 2rem !important;
  height: 2rem !important;
}

.capitalizeText {
  text-transform: capitalize;
}
