/* You can add global styles to this file, and also import other style files */

body,
html {
    height: 100%;
    font-size: 16px;
}

.auth0-lock-header {
    display: none !important;
}

.slateBlueBackground {
    /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(rgb(71, 111, 154), rgb(34, 60, 97));
    /* For Opera 11.1 to 12.0 */
    background: -o-linear-gradient(rgb(71, 111, 154), rgb(34, 60, 97));
    /* For Firefox 3.6 to 15 */
    background: -moz-linear-gradient(rgb(71, 111, 154), rgb(34, 60, 97));
    /* Standard syntax (must be last) */
    background: linear-gradient(rgb(71, 111, 154), rgb(34, 60, 97));
}

.inheritHeight {
    height: inherit;
}

input[type=text] {
    height: auto !important;
    margin-bottom: 0 !important;
    padding: 5px 0 0 !important;
}

.input-field label {
    color: #26A69A;
}

textarea {
    padding: .25rem 0 0 !important;
    min-height: 1.3rem !important;
    margin-bottom: 0 !important;
    line-height: normal;
}

.capitalizeText {
    text-transform: capitalize;
}

h4 {
    font-weight: bold;
    color: rgb(34, 60, 97);
    margin: 15px 0 10%;
}

.font-90 {
    font-size: 90% !important;
}

@media only screen and (min-width: 1440px) {
    h4 {
        font-size: 2vw;
        margin: 2vw 0;
    }
    input[type=text] {
        font-size: 1.2vw !important;
        height: auto !important;
    }
    textarea {
        font-size: 1.15vw !important;
        min-height: 2vw !important;
    }
    input[type=text],
    textarea {
        margin-bottom: 1vw !important;
    }
    .input-field label {
        font-size: 0.8vw !important;
    }
    .font-90 {
        font-size: 1vw !important;
    }
}

@media only screen and (min-width: 601px) {
    .pad-right-10-med-and-up {
        padding-right: 15%;
    }
}